// ESTILOS DE CONTENEDOR -----------------------------------------
.formBox{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: $colorTheme4;
    border-bottom: 1px solid $colorShadow;
    @include mediaSize(tablet){
        border-bottom: none;
        border-right: 1px solid $colorShadow;
    }
}

// ESTILOS DE ELEMENTOS -------------------------------------------
.form__title{
    color: $colorTheme1;
    margin-bottom: 1.5em;
}
.form__selection{
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .currencyLogo{
        height: 40px;
    }
    .changeIcon{
        color: $colorMiddle;
        font-size: 18px;
    }
    @include mediaSize(tablet){
        height: 60px;
    }
}
.inputBox{
    .label{
        display: block;
    }
    .input{
        width: 80vw;
        height: 30px;
        margin: 15px 5vw;
        padding: 0 10px;
        border-radius: 15px;
        border: 1px solid $colorShadow;
        box-shadow: none;
        &:focus{
            outline: none;
        }
        @include mediaSize(tablet){
            width: 210px;
            margin: 15px 0 20px 0;
        }
    }
}
